<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<<<<<<< HEAD
    @Scripts.Render("~/Scripts/JavaScript.js")
=======
    <script src="~/Scripts/JavaScript.js"></script>
>>>>>>> 03ae169296f3a26da59570a36f7098ee46709d25
</head>
<body onload="TimeDate()">
    
    <div class="container-fluid body-content" >
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
